<launch>

  <!-- Launch file command-line arguments -->
  <arg name="planner" default="astar"/>
  <arg name="map_file" default="$(find move_base_354)/maps/wall_world.yaml"/>
  <arg name="world_file" default="$(find move_base_354)/worlds/wall_world.world"/>
  <arg name="3d_sensor" default="$(env TURTLEBOT_3D_SENSOR)"/>  <!-- r200, kinect, asus_xtion_pro -->
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <arg name="world_file" value="$(arg world_file)"/>
  </include>


  <!-- Start planner localization -->
  <include file="$(find move_base_354)/launch/move_base.launch">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
    <arg name="map_file" default="$(arg map_file)"/>
    <arg name="planner" default="$(arg planner)"/>
    <arg name="3d_sensor" default="$(arg 3d_sensor)"/>  <!-- r200, kinect, asus_xtion_pro -->
  </include>

</launch>
